* {
    selected-text:	#ffb4a8;
    selected-background: #73342b;

    prompt-text: #e7bdb6;
    prompt-background: #5d3f3b;

    normal-text: #73342b;
    normal-background: #a08c890d;

    window-border: #dec38c;
    window-background: #a08c890D;

    scrollbar-filled: #442925;
    scrollbar-empty: #ffdad5;

    error-message: #ffb4ab;
    error-message-border: #690005;
}
