* {
    background:     	#a08c890D;
    background-alt: 	#73342a;
    selected:       	#e7bdb6;
    active:         	#ffdad4;
    urgent:         	#ffb4ab;

    prompt-text:	#ffdad4;
    text:		#423735;
    border-main:	#ffb4a7;

}
